    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    /*selected mission*/
    
    .selected-wrapper {
        display: none;
    }
    
    .mission-objective {
        margin: 10px 0px;
        width: 100%;
    }
    
    .selected-wrapper {
        clear: both;
        width: 97%;
        margin: 100px auto;
        line-height: 20px;
    }
    
    .selected-wrapper h2 {
        margin-bottom: 10%;
    }
    
    .objective-button {
        cursor: pointer;
        width: 100%;
        background-color: rgba(800, 800, 800, 0.7);
        border: none;
        color: #020202d1;
        margin: 10px auto;
        font-weight: bold;
    }
    
    .selected-wrapper button:hover {
        background-color: rgba(800, 800, 800);
    }
    
    .selected_mission-container {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    /*video and image selected mission page*/
    
    .selected_media-container {
        width: 100%;
    }
    
    .selected-media {
        width: 100%;
    }
    
    .selected_links-container {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        margin-bottom: 50px;
        min-height: 250px;
    }
    
    .selected_links-container a {
        text-decoration: underline;
    }
    
    .selected_links-container a:hover {
        text-decoration: underline;
        font-weight: bolder;
    }
    /*button*/
    
    .return-button {
        background-color: rgba(0, 0, 0, 0.7);
        color: #D0C8C8;
        width: 100%;
        margin-top: 20px;
        padding: 3px;
    }
    
    .return-button:hover {
        cursor: pointer;
    }
    
    article button {
        margin-top: 40px;
        background: rgba(247, 68, 68, 0.6);
        padding: 12px;
        cursor: pointer;
        border-radius: 50%;
        font-size: 12px;
        font-weight: bold;
        width: 70px;
    }
    
    article button:hover {
        background: rgba(243, 15, 15, 0.8);
    }
    
    .mission {
        cursor: pointer;
        line-height: 20px;
    }
    /*mission information*/
    
    .slider input {
        display: none;
    }
    
    label:hover,
    a:hover {
        color: #fff;
        cursor: pointer;
    }
    
    label,
    #active,
    img {
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    /*Switch to next slide in gallery*/
    
    #slide1:checked~#slides .inner {
        margin-left: 0;
    }
    
    #slide2:checked~#slides .inner {
        margin-left: -100%;
    }
    
    #slide3:checked~#slides .inner {
        margin-left: -200%;
    }
    
    #slide4:checked~#slides .inner {
        margin-left: -300%;
    }
    
    #slide5:checked~#slides .inner {
        margin-left: -400%;
    }
    
    .gallery-container {
        width: 100%;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.5);
        height: 530px;
    }
    
    article img {
        width: 100px;
        height: 100px;
        margin-top: 25px;
    }
    
    #slides .inner {
        width: 500%;
        line-height: 0;
    }
    
    #slides article {
        width: 20%;
        float: left;
    }
    
    #commands {
        margin: -25% 0 0 0;
        width: 100%;
        height: 50px
    }
    
    #commands label {
        display: none;
        width: 80px;
        height: 80px;
        opacity: 0.7;
    }
    
    #commands label:hover {
        opacity: 1;
    }
    
    #active {
        position: relative;
        z-index: 5;
        margin: 16% 0 0;
        text-align: center;
    }
    
    #active label {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: rgba(255, 244, 244, 0.5);
    }
    
    #active label:hover {
        background: #333;
    }
    
    #slide1:checked~#commands label:nth-child(2),
    #slide2:checked~#commands label:nth-child(3),
    #slide3:checked~#commands label:nth-child(4),
    #slide4:checked~#commands label:nth-child(5),
    #slide5:checked~#commands label:nth-child(1) {
        background-image: url('../icons/slideright.svg');
        background-repeat: no-repeat;
        float: right;
        margin: -30% 5% 0 0px;
        display: block;
        cursor: pointer;
        width: 40px;
    }
    
    #slide1:checked~#commands label:nth-child(5),
    #slide2:checked~#commands label:nth-child(1),
    #slide3:checked~#commands label:nth-child(2),
    #slide4:checked~#commands label:nth-child(3),
    #slide5:checked~#commands label:nth-child(4) {
        background-image: url('../icons/slideleft.svg');
        background-repeat: no-repeat;
        float: left;
        margin: -30% 0 0 5%;
        display: block;
        cursor: pointer;
        width: 40px;
    }
    
    #slide1:checked~#active label:nth-child(1),
    #slide2:checked~#active label:nth-child(2),
    #slide3:checked~#active label:nth-child(3),
    #slide4:checked~#active label:nth-child(4),
    #slide5:checked~#active label:nth-child(5) {
        background: #000;
        opacity: 0.6;
        border: 2px solid #fff;
    }
    
    #slides .inner {
        -webkit-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -moz-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -ms-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -o-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000)
    }
    
    .slider {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out
    }
    
    #commands label {
        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out
    }
    
    .slider {
        max-width: 960px;
        width: 100%;
        text-align: center;
        margin: 100px auto;
    }
    
    @media only screen and (min-width: 460px) and (max-width: 768px) {
        /*selected mission*/
        .selected_mission-container {
            width: 30%;
            float: left;
            margin-bottom: 30px;
        }
        .selected_media-container {
            width: 45%;
            float: right;
        }
        .selected_links-container {
            clear: both;
            margin-top: 20px;
            margin: 0 auto;
        }
        .selected_links-container p {
            float: left;
            width: 20%;
        }
        .gallery-container {
            height: 500px;
        }
        article img {
            width: 60%;
            height: 200px;
        }
        .slider #commands {
            margin: -25% 0 0 5%;
            width: 90%;
            height: 50px
        }
        .slider {
            width: 70%;
        }
    }
    
    @media only screen and (min-width: 769px) {
        .gallery-container {
            height: 600px;
        }
        /*selected mission*/
        .selected-wrapper {
            width: 70%;
            min-width: 760px;
        }
        .selected_mission-container {
            width: 30%;
            float: left;
            margin-bottom: 100px;
            min-height: 270px;
        }
        .selected_media-container {
            width: 35%;
            float: left;
            margin-left: 5%;
        }
        .selected_links-container {
            width: 25%;
            float: right;
            min-height: 270px;
        }
        article img {
            height: 250px;
            width: 270px
        }
        .slider {
            width: 30%;
            margin: 130px auto;
        }
        /* select button*/
        article button {
            padding: 20px;
            font-size: 20px;
            width: 120px;
        }
        /*button*/
        .return-button {
            font-size: 17px;
            padding: 4px;
        }
    }