@import "headerfooter.css";
@import "gallery.css";
html,
body,
div,
section,
article,
aside,
header,
hgroup,
footer,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
time,
span,
em,
strong,
img,
ol,
ul,
li,
figure,
canvas,
video,
th,
td,
tr,
a {
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    color: #D0C8C8;
    margin: 0;
}

button:hover {
    cursor: pointer;
}


/*fonts*/

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Space Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

h1 {
    font-size: 15px;
}

h2,
h3 {
    font-size: 13px;
}

p,
a {
    font-size: 11px;
}

p {
    margin: 10px;
}

.active {
    font-weight: bold;
    color: #fff;
}

img {
    border-radius: 3%;
}


/*video*/

.index-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.back-image {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


/*index page*/

.info-index {
    clear: both;
    margin: 50px auto 0px auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    line-height: 25px;
}

.next-launch {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

.latest-launch {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}


/*contact page*/

.email-confirmation {
    display: none;
}

.error {
    display: none;
}

.form-container {
    width: 95%;
    margin: 10% auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 2px;
    border: solid #fff 1px;
    line-height: 30px;
}

.form-input {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-button {
    margin: 15px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 5px;
}


/*About page and Timeline*/

.about-container {
    width: 90%;
    margin: 150px auto;
}

.about-text {
    width: 100%;
}

.about-image {
    width: 100%;
}

.timeline {
    clear: both;
    margin-top: 10%;
    width: 100%;
    margin-bottom: 100px;
}

.timeline .timeline-container {
    width: 100%;
    margin: 0 auto;
}

.timeline .timeline-container:after {
    content: '';
    display: table;
    clear: both;
}

.achivement {
    width: 100%;
    float: left;
    margin: 70px auto;
}

.timeline .achivement ul {
    position: relative;
    float: left;
    display: block;
    margin-top: 30px;
}

.timeline .achivement ul:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: #ff56;
}

.timeline .achivement ul li:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #730101cf;
    box-shadow: 0 0 0 3px #f555557a;
    top: 40px;
}

.timeline .achivement ul li:nth-child(odd):before {
    right: 98%;
}

.timeline .achivement ul li:nth-child(even):before {
    right: 98%;
}

.timeline .achivement ul li {
    position: relative;
    padding: 25px 5px;
    width: 100%;
    display: block;
    clear: both;
}

.timeline .achivement ul li:nth-child(odd) {
    float: left;
    text-align: left;
}

.timeline .achivement ul li:nth-child(even) {
    float: left;
    text-align: left;
}

.timeline .achivement ul li .achivement-date {
    padding: 2px;
    background-color: #730101cf;
    box-shadow: 0 0 0 3px #840b0b40;
    border-radius: 5%;
    text-align: center;
}

.timeline .achivement ul li:nth-child(odd) .achivement-date {
    margin-left: 5px;
}

.timeline .achivement ul li:nth-child(even) .achivement-date {
    margin-right: 5px;
}

@media only screen and (min-width: 460px) and (max-width: 768px) {
    /*headings*/
    h1 {
        font-size: 20px;
    }
    h2,
    h3 {
        font-size: 18px;
    }
    p,
    a {
        font-size: 13px;
    }
    /*contact page*/
    .form-container {
        width: 80%;
        padding: 20px;
        line-height: 40px;
    }
    .form-input {
        width: 50%;
    }
    .form-button {
        margin: 20px;
        width: 50%;
        padding: 10px;
    }
    /*index page */
    .info-index {
        margin: 150px auto 0px auto;
        width: 35%;
    }
    .info-index h1,
    h2 {
        font-size: 15px;
    }
    /*About page and Timeline*/
    .about-container {
        width: 300px;
    }
    .about-text {
        width: 300px;
    }
    .about-image {
        width: 300px;
    }
}

@media only screen and (min-width: 769px) {
    /*headings*/
    h1 {
        font-size: 25px;
    }
    h2,
    h3 {
        font-size: 18px;
    }
    p,
    a {
        font-size: 15px;
    }
    /*contact page*/
    .form-container {
        width: 30%;
        line-height: 35px;
    }
    .form-input {
        max-width: 300px;
    }
    .form-button {
        width: 40%;
    }
    /*index page */
    .info-index {
        width: 100%;
    }
    .next-launch {
        float: right;
        width: 15%;
    }
    .latest-launch {
        clear: both;
        float: right;
        width: 15%;
        margin-bottom: 100px;
    }
    .info-index h1,
    h2 {
        font-size: 18px;
    }
    /*About page and Timeline*/
    .about-container {
        width: 600px;
    }
    .about-text {
        width: 40%;
        float: left;
    }
    .about-image {
        width: 45%;
        float: right;
        max-width: 240px;
    }
    .timeline .timeline-container {
        width: 700px;
    }
    .timeline .achivement ul:before {
        left: 50%;
    }
    .timeline .achivement ul li:before {
        height: 16px;
        width: 16px;
        top: 55px;
        margin-left: -27px;
    }
    .timeline .achivement ul li:nth-child(odd):before {
        left: 105.5%;
    }
    .timeline .achivement ul li:nth-child(even):before {
        left: 5.5%;
    }
    .timeline .achivement ul li {
        padding: 30px 40px;
        width: 50%;
    }
    .timeline .achivement ul li:nth-child(odd) {
        text-align: right;
    }
    .timeline .achivement ul li:nth-child(even) {
        float: right;
        text-align: left;
    }
    .timeline .achivement ul li .achivement-date {
        position: absolute;
        width: 130px;
    }
    .timeline .achivement ul li:nth-child(odd) .achivement-date {
        left: 100%;
        margin-left: 60px;
    }
    .timeline .achivement ul li:nth-child(even) .achivement-date {
        right: 100%;
        margin-right: 60px;
    }
}